.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.header-title {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
}

.header__logo {
  margin-right: 24px;
}

.header__place {
  margin-right: 20px;
}

.header__username {
  margin-right: 16px;
  font-weight: 700;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__add-clothes-btn {
  margin-left: auto;
  border: none;
  background: white;
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.header__controls {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
}

.header__link{
  display: flex;
  align-items: center;
  text-decoration:none;
  color: inherit;
}